.expert-holder.related-tabs {
  position: relative;
  width: 100%;
  .background-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to bottom, rgba(0,120,181,1) 1%,rgba(0,174,239,1) 100%);
  }
}