.ajax-loading {
  height: 52px;
  width: 52px;
  background: url(../images/loader.png) no-repeat center;
  margin: 100px auto;
  animation-duration: 1s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0%   {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}