.footer-call-to-action {
  position: relative;
  .background-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    .col {
      height: 100%;
    }
    .bg-image {
      background: no-repeat center;
      background-size: cover;
    }
  }
  .cta-content-holder {
    @include media-breakpoint-down(sm) {
      width: 100vw;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      margin: 0;
    }
    .col {
      padding-top: 80px;
      padding-bottom: 68px;
      @include media-breakpoint-down(sm) {
        .content-container {
          @include make-max-widths-container-width();
          margin: 0 auto;
        }
      }
    }
    .cta-content {
      padding-right: 40px;
      background: no-repeat center;
      background-size: cover;
      @include media-breakpoint-up(md) {
        background: none !important;
      }
      @include media-breakpoint-down(sm) {
        text-align: center;
      }

      h2 {
        color: $white;
        text-transform: uppercase;
      }

      p {
        color: $white;
        font-size: 2rem;
        line-height: 2.9rem;
      }
    }

    .cta-form {
      background: $white;
    }
  }
}