/* =================================================================================
Sidebar
================================================================================= */
.sidebar {
  background: #121212;
  position: relative;
}
.sidebar-widget {
  &:last-child {
    margin-bottom: 0;
  }

  &.widget_text {
    .textwidget {
      @extend .composition;
    }
  }
}
#sidebar-menu {
  padding-top: 60px;
  h4 {
    font-size: 3.2rem;
  }
  li {
    &:not(:last-child) {
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid $gray-800;
    }
    a {
      font-size: 2.8rem;
      color: $white;
      font-weight: 300;
      &:hover,
      &.active {
        color: $brand-primary;
      }
      &:before {
        content: '\232A';
        display: inline-block;
        font-size: 1.4rem;
        padding-right: 15px;
        position: relative;
        top: -.3rem;
      }
    }
  }
}