/* =================================================================================
@Font-Face Embeds
================================================================================= */

//Gotham Narrow
@font-face {
  font-family: 'GothamNarrow';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/GothamNarrow-Book.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/GothamNarrow-BookItalic.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/GothamNarrow-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/GothamNarrow-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: normal;
  font-weight: 200;
  src: url('../../fonts/GothamNarrow-Light.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: italic;
  font-weight: 200;
  src: url('../../fonts/GothamNarrow-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/GothamNarrow-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'GothamNarrow';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/GothamNarrow-MediumItalic.otf') format('opentype');
}

//Gotham Round
@font-face {
  font-family: 'GothamRnd';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/GothamRnd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: italic;
  font-weight: 400;
  src: url('../../fonts/GothamRnd-BookIta.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/GothamRnd-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: italic;
  font-weight: 700;
  src: url('../../fonts/GothamRnd-BoldIta.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: normal;
  font-weight: 200;
  src: url('../../fonts/GothamRnd-Light.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: italic;
  font-weight: 200;
  src: url('../../fonts/GothamRnd-LightIta.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/GothamNarrow-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd';
  font-style: italic;
  font-weight: 500;
  src: url('../../fonts/GothamRnd-MedIta.otf') format('opentype');
}